/*Typography*/


/* Nav */
.navigation {
	background: limegreen;
	padding: 1em;
	border-radius: 15px;
}

.navigation li {
	list-style: none;
	display: inline-block;
}

.navigation a {
  background: forestgreen;
  color: #fff;  
  padding: 1em;  
  display: inline-block;
  height: 1em;
  line-height: 1em;  
  text-decoration: none;
  text-transform: uppercase;   
  transition: height .2s,
    border-bottom .2s,
    letter-spacing .75s; 
  border-radius: 5px;
}

.navigation a:hover {  
  color: #000;  
}


/* Home */
.home {
	background: lightgreen;
	margin: 2%;
}



.home h1
{
	color: green;

}

/* Bio & Resume*/

.bio {
	background: lightgreen;
	margin: 2%;
}
.bio a {
	text-decoration: none;
	
}

.bio h1 {
	color: green;
	//font-size: 3.5em;
	
}

.bio h2 {
	//font-size: 3em;
	color: forestgreen;
}
.bio h3 {
	//font-size: 3em;
	color: darkgreen;
}

.bio ul,
.bio ol {
	
}

.bio p {
	padding-left: 1%;
	//font-size: 1.5em;
}

.bio li {
	//font-size: 1.5em;
	
}


/* Portfolio */

.portfolio 
{
	background: lightgreen;
	margin: 2%;
}
.portfolio h1 {
	color: green;
}
.portfolio div {
	background: limegreen;
	border-radius: 2%;
}
.portfolio img {
	vertical-align: text-top;
	width: 45%;
	padding: 2%;
	border-radius: 5px;
	
	
	
}