/*Typography*/


/* Home */
.home h1
{
	color: red;

}

/* Bio & Resume*/

.bio {
	background: lightgreen;
	margin: 2%;
}
.bio a {
	text-decoration: none;
	
}

.bio h1 {
	color: green;
	//font-size: 3.5em;
	
}

.bio h2 {
	//font-size: 3em;
	
	
}

.bio p {
	padding-left: 1%;
	//font-size: 1.5em;
}

.bio li {
	//font-size: 1.5em;
	
}


/* Portfolio */

body
{
	background: white;

}
img 
{
	width:320px;

}