/*Typography*/


/* Nav */
.navigation li {
	list-style: none;
	display: inline-block;
}

.navigation a {
  background: forestgreen;
  color: #fff;  
  padding: 1em;  
  display: inline-block;
  height: 1em;
  line-height: 1em;  
  text-decoration: none;
  text-transform: uppercase;   
  transition: height .2s,
    border-bottom .2s,
    letter-spacing .75s;
}

.navigation a:hover {  
  height: 1.5em;
  color: #000;
  border-bottom: .5em #000 double;
  /*line-height: 3em;*/
  letter-spacing: 4px;
}


/* Home */
.home {
	background: lightgreen;
	margin: 2%;
}



.home h1
{
	color: green;

}

/* Bio & Resume*/

.bio {
	background: lightgreen;
	margin: 2%;
}
.bio a {
	text-decoration: none;
	
}

.bio h1 {
	color: green;
	//font-size: 3.5em;
	
}

.bio h2 {
	//font-size: 3em;
	
	
}

.bio p {
	padding-left: 1%;
	//font-size: 1.5em;
}

.bio li {
	//font-size: 1.5em;
	
}


/* Portfolio */

.portfolio 
{
	background: lightgreen;
	margin: 2%;
}
.portfolio h1 {
	color: darkgreen;
}
.portfolio img {
	width:320px;
	
}